.doctor-details {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 20px;
}

.doctor-details h2 {
    font-family: 'Arial', sans-serif;
    color: #075a49;
    margin-bottom: 15px;
}

.doctor-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.doctor-card {
    background-color: #fff;
    border: 1px solid #79ac8f;
    border-radius: 8px;
    padding: 15px;
    width: 250px;
    text-align: center;
}

.doctor-card h3 {
    color: #0a4b26;
}

.doctor-card p {
    color: #555;
}
